<div class="bg-white mt-4" style="border-radius: 0.2em;">
    <h1 class="text-center">
        Baslangic Sayfasi
    </h1>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim earum corporis deleniti animi consequatur
                nam, tempore laboriosam voluptatibus explicabo minima in repudiandae ducimus? Accusantium ad quia cumque
                atque, aut, explicabo est in iure nulla ducimus quaerat. Omnis iure, atque necessitatibus voluptatibus
                ducimus rerum exercitationem molestiae vel ut alias aspernatur quisquam?
            </div>
            <div class="col-md-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laudantium inventore sint architecto
                facilis ad rerum, fugit dicta vitae provident reprehenderit? Molestias veniam dolore tenetur fuga enim
                libero quia exercitationem quaerat magnam quasi modi quo, aspernatur doloribus magni ipsa nobis
                explicabo laborum repudiandae. Non qui cum blanditiis ea quo provident.
            </div>
            <hr>
            <div class="col-md-12">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam inventore vitae libero explicabo hic
                aliquam error doloribus accusamus odit cum, fugiat doloremque. Eaque quam, obcaecati officiis dolorum
                saepe odit eos nostrum et voluptate enim labore, quas iure esse consectetur distinctio libero
                voluptatem. Autem itaque atque iusto quidem perferendis architecto, fuga excepturi provident porro
                facere earum eligendi sapiente illum odio consectetur suscipit et cum dolorem nobis? Sed ullam ut soluta
                et. Omnis provident aliquid repellendus accusantium quisquam explicabo, aspernatur iste reprehenderit
                quidem vero fugiat sint. Consectetur magni voluptas voluptates nulla dolore? Quaerat iure natus
                excepturi vel necessitatibus, praesentium dolorum. Impedit, adipisci!
            </div>
        </div>
    </div>
</div>