<!-- Edit Or Delete -->
<form #aliciEditOrDelete="ngForm" (ngSubmit)="onSubmit(aliciEditOrDelete.value)" *ngIf="item.aliciID">
    <div class="modal-body bg-light">
        <div class="col-md-12">
            <div class="form-group mt-3" *ngIf="!deleteProcess">
                <label for="aliciName" class="control-label">Alici Name</label>
                <input [ngModel]="item.aliciName" maxlength="30" type="text" name="aliciName" class="form-control" required minlength="2" ngModel>
            </div>
            <div class="form-group mt-3" *ngIf="!deleteProcess">
                <label for="address" class="control-label">Address</label>
                <input [ngModel]="item.address" maxlength="100" type="text" ngModel class="form-control"
                    name="address" ngModel>
            </div>
            <div class="form-group mt-3" *ngIf="!deleteProcess" >
                <label for="aliciTelNo" class="control-label">Alici Phone Number</label>
                <input [ngModel]="item.aliciTelNo" maxlength="30" type="text" ngModel class="form-control"
                    name="aliciTelNo" ngModel>
            </div>

            <!-- Delete Process -->
            <div class="form-group mt-3" *ngIf="deleteProcess">
                <label class="form-control">{{item.aliciName}}</label>
            </div>
            <div class="form-group mt-3" *ngIf="deleteProcess">
                <label class="form-control">{{item.address}}</label>
            </div>
            <div class="form-group mt-3" *ngIf="deleteProcess">
                <label class="form-control">{{item.aliciTelNo}}</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group" *ngIf="!deleteProcess && item.aliciID">
            <input type="submit" name="Guncelleme" id="update" value="Guncelle" class="btn btn-success">
        </div>
        
        <div class="form-group" *ngIf="deleteProcess">
            <input type="submit" value="Sil" class="btn btn-danger" />
        </div>
    </div>
</form>



<!-- Post -->
<form #aliciPost="ngForm" (ngSubmit)="onPostSubmit(aliciPost.value)" *ngIf="!item.aliciID">
    <div class="modal-body bg-light">
        <div class="col-md-12">
            <div class="form-group mt-3" *ngIf="!deleteProcess && !item.aliciID">
                <label for="aliciName" class="control-label">Alici Name</label>
                <input maxlength="30" type="text" name="aliciName" class="form-control" #minL="ngModel" required minlength="2" ngModel>
            </div>
            <div class="form-group mt-3" *ngIf="!deleteProcess">
                <label for="address" class="control-label">Address</label>
                <input maxlength="100" type="text" ngModel class="form-control"
                    name="address" ngModel>
            </div>
            <div class="form-group mt-3" *ngIf="!deleteProcess" >
                <label for="aliciTelNo" class="control-label">Alici Phone Number</label>
                <input maxlength="30" type="text" ngModel class="form-control"
                    name="aliciTelNo" ngModel>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <input type="submit" name="Ekleme" id="add" value="Ekle" class="btn btn-primary">
            <input type="reset" value="Reset" class="btn btn-warning ms-2">
        </div>
    </div>
</form>